<?xml version="1.0" encoding="UTF-8"?>

 



<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  

   
  
   <!--  
    <servlet>
        <servlet-name>GetAllServlet</servlet-name>
        <servlet-class>systemadmin.GetAllServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>GetAllServlet</servlet-name>
        <url-pattern>/GetAllServlet</url-pattern>
         </servlet-mapping>
        
        
   
         <servlet>
        <servlet-name>UpdateTransportServlet</servlet-name>
        <servlet-class>systemadmin.UpdateTransportServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>UpdateTransportServlet</servlet-name>
        <url-pattern>/UpdateTransportServlet</url-pattern>
    </servlet-mapping>

    -->
    
    
    

</web-app>